Problem: Given a line of texts in a file, sort the texts in alphabetical order and print them to a secodn file.

        Program Requirements state what the software must be able to do.
        Design Constraints clarify the restrictions to the software's design and implementation.

Functional Requirements
    Functional requirements are features that the software must have, based on user needs.

    For this task, the program must...
        * take input from a file.
        * identify breaks between input.
        * identify input type.
        * sort/organize the input in alphabetical order.
        * print the provided input (post sorting) into a secobd file.
    Considerations...
        * The problem does not specify if the input should be sorted in ascending or descending order. | We will sort it in ascending order.
        * There is no specification for what to do with nonalphabetic input. Nor are directives given for lowercase vs. uppercase letters. | We will sort in numerical order,
          numbers precede alphabetic characters, and case differences will be ignored.
        * Are there any special cases? How should boundary cases (empty lines or files) be handled? | In this program, there is no special handling for empty lines, but empty file
          inputs will result in empty file outputs.


Nonfunctional Requirements
    Nonfunctional requirements are features that the developers/designers desire the program to have.
    These refer to performance, security, scalability, modafiability, and others.

Design Constraints